node_modules
.vscode/*
package-lock.json
t.ts
main.dot
q.md
codeLab
.DS_Store
out/
.idea
tests/resources/output
tests/resources/callgraph/projectTest/*
coverage
index.ts
src/exportAll.ts
exportRollup.config.mjs
dist/
src/ets2ts.js